* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar {
    background-color: maroon;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar a {
    color: tan;
    text-decoration: none;
}
